#titleblock{

    background-image: url(titlepic.jpg);
    background-size: auto 120%;
    height: 210px;

}


#logo{
    background-color: gold;
    background-image: url(logo.jpg);
    background-size: auto 100%;
    margin-left: 40px ;
    margin-right: 1080px;
    display: grid;
    vertical-align: center;
	height: 190px;
}

#title_{
    
    margin-top: -90px ;
    margin-left: 250px ;
    display: grid;
    vertical-align: center;
	
    opacity: 1;
    

}



#backGround{
    background-color: lightpink;
    height: 1100px;
    margin-top: -20px;
}



#emptyObject{
   background-color: blanchedalmond; 
   height: 60px;
   opacity: 1;
}




#text_{
    margin-left: 200px;
    margin-top: -110px;
}

#lineWork{
    
    height: 320px;
   
    background-image: url(tit1.png);
    background-size: auto 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
}

.section-1{
   
    margin-top: 0px;
    width:100%;
    height:0px;
    background-color: #ccc; /*这个告诉移动模块何时开始跟着页面滚动*/
    padding-top: 0px;
  }

  /*.section-2{
    width:50%;
    height:500px;
   background-color: #aaa;
   position: relative;
  }*/
  
  #bottomBlock{
    margin-top: -20px;
    background: lightpink; 
    height: 350px;
  }

  #text__{
    margin-left: 200px;
    color: saddlebrown;
   
    
    
}

#bottomBlockBlock{
   
    background-color: rgb(255, 247, 173); 
    height: 120px;
    
}

#block0{
    background-color: rgb(37, 28, 21); 
    height: 5px;
    margin-left: 0px;
    margin-top: 0px; 

}





#block1{
    background-color: #f67280; 
    height: 30px;
    margin-left: 50px;
    margin-top: 50px; 

}

#block2{
    background-color:  lightpink; 
    height: 30px;
    margin-left: 200px;
    margin-top: -30px;
}

#block3{
    background-color: #ffd5c2; 
    height: 30px;
    margin-left: 350px;
    margin-top: -30px;
}

#block4{
    background-color: whitesmoke; 
    height: 30px;
    margin-left: 1000px;
    margin-top: -30px;
}


